<div class="bg-record" ng-controller="RecordController" >
  <div class="container">
    <div class="row">
        <div class="col s12">
      	  <div class="section">
				    <h3 class="">A Journal for Couples</h3>
				  </div>
        </div>

        <div class="divider"></div>

        <div class="col s10">
        	<form name="entryForm" ng-submit="addNewEntry()">
        		<h5>Enter a new entry</h5>
        		<div>
	        		<label>Entry Title</label>
	        		<input ng-model="newEntry.title">

	        		<label>Body of Entry</label>
	        		<textarea ng-model="newEntry.body"></textarea>
	        	</div>
	        	<button type="submit" class="btn waves-effect waves-light">Post Entry</button>
        	</form>
        </div>
       
        <div class="col s10">

            <div>
                <ul>
                    <li ng-repeat="post in posts | orderBy:'-date' ">
                        <h5>{{ post.title}}</h5>
                        <p>{{ post.body }}</p>
                    </li>
                </ul>
            </div>
        </div>



    </div>
  </div>
</div> 