<div class="" ng-controller="RecordController" >
  <div class="container">
    <div class="row">



        <div class="col s12">
          <div class="section">
            <h3 class="">A Journal for Couples</h3>
          </div>
        	<form name="entryForm" ng-submit="addNewEntry()">
                <div class="row">
                    <div class="input-field col s12">
                      <input id="entry_title" type="text" ng-model="newEntry.title" class="">
                      <label for="entry_title">Title</label>
                    </div>

                    <div class="input-field col s12">
                      <textarea id="entry_body" ng-model="newEntry.body" class="materialize-textarea"></textarea>
                      <label for="entry_body">Body</label>
                    </div>
                </div>
	        	<button name="post_btn" type="submit" class="btn waves-effect waves-light green">Post Entry</button>
        	</form>
        </div>


       
        <div class="col s12">
            <div class="journal">
                <ul class="collection">
                    <li ng-repeat="post in posts | orderBy:'-date'"
                        class="collection-item">

                        <form class="entry-single" ng-submit="deleteEntry(post._id)">
                            <h5 class="">{{ post.title}}</h5>
                            <p class="single-entry">{{ post.body }}</p>
                            <div>
                              <button type="submit" class="btn waves-effect waves-light red">delete</button>
                            </div>
                        </form>
                    </li>
                </ul>
            </div>

        </div>



    </div>
  </div>
</div> 