<div class="" ng-controller="RememberController">
    <a id="previous-slide" class="icon-arrow-up-white"></a>
    <a id="next-slide" class="icon-arrow-down-white"></a>
    <div id="fullpage">

        <!-- Photo and discription -->
        <div id="" class="section panel-1">
            <!-- Modal Trigger -->
            <div class="center">
                <a class="waves-effect waves-light modal-trigger" href="#modal1"><i class="mdi-content-add"></i></a>
            </div>
            <!-- Modal Structure -->
            <div id="modal1" class="modal">
                <div class="modal-content">
                  <h4>Our First Memories</h4>
                  <p>Lorem ipsum lorem lorem.</p>
                </div>
                <div class="modal-footer">
                  <a class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
                </div>
            </div>
        </div>


        <div id="" class="section panel-2">
            <!-- Modal Trigger -->
            <div class="center">
                <a class="waves-effect waves-light modal-trigger" href="#modal2"><i class="mdi-content-add"></i></a>
            </div>
            <!-- Modal Structure -->
            <div id="modal2" class="modal">
                <div class="modal-content">
                  <h4>Setting Our Stage</h4>
                  <p>Lorem ipsum lorem lorem.</p>
                </div>
                <div class="modal-footer">
                  <a class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
                </div>
            </div>
        </div>


        <div id="" class="section panel-3">
            <!-- Modal Trigger -->
            <div class="center">
                <a class="waves-effect waves-light modal-trigger" href="#modal3"><i class="mdi-content-add"></i></a>
            </div>
            <!-- Modal Structure -->
            <div id="modal3" class="modal">
                <div class="modal-content">
                  <h4>Together Forever</h4>
                  <p>Lorem ipsum lorem lorem.</p>
                </div>
                <div class="modal-footer">
                  <a class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
                </div>
            </div>
        </div>


    </div>  
</div> 