nav {
	position: fixed;
	z-index: 998;
	width: 0;
}

a[data-activates="slide-out"] {
	left: 10px;
}

.mdi-content-add {
	font-size: 56px;
	color: rgba(255, 255, 255, 0.5);
}

.panel-1 {
	background-color: #F44336;

}

.panel-2 {
	background-color: #673AB7;

}

.panel-3 {
	background-color: #00BCD4;

}








/* ==========================================

Mobile Screen Breakpoints

============================================= */

@media screen and (min-width : 768px) {      /*  Small Devices  - smart phones */

}

@media screen and (min-width : 992px) {      /*  Medium Devices - desktops  */

}

@media screen and (min-width : 1200px) {      /*  Large displays  */

}

